<miniGameConfig>
	<flaAssets path="assets/cloudOneAssets.swf" />
	
	<sounds>
		<sound id="background" volume="0.3" path="assets/BGM_1.mp3" preload="1" />
		<sound id="levelReached" volume="1" path="assets/SFX_level_reached.mp3"  preload="1" />
		
		<sound id="hitGround" volume="1" path="assets/SFX_hit_ground_1.mp3" preload="1" />
		
		<sound id="jump" volume="0.3" path="assets/SFX_jump_ground.mp3" />
		
		<sound id="birdCollided" volume="1" path="assets/SFX_bird_hit_2.mp3" />
		<sound id="cloudCollided1" volume="0.4" path="assets/SFX_small_cloud_jump.mp3" />
		<sound id="cloudCollided2" volume="0.4" path="assets/SFX_medium_cloud_jump.mp3" />
		<sound id="cloudCollided3" volume="0.4" path="assets/SFX_big_cloud_jump.mp3" />
		<sound id="collectStar" volume="1" path="assets/SFX_collect_star.mp3" />
		<sound id="baloon" volume="1" path="assets/baloonSound.mp3" />

	</sounds>
	
	<dev showLines="0" startYPos="000" startXPos="0" />
	<levels num="20" height="1000" maxFallDist="2000" jumpStrength="20" />
	<points cloud="1" star="10" bird="-5" level="3" baloon="2" />
	
	<skyObjects>
		
		<obj type="cloud" id ="2" x="244" y = "250" scale= "2" />
		
		<obj type="cloud" id ="3" x="-150" y = "300" />
		
		<obj type="cloud" id ="1" x="350" y = "400" />
		
		<obj type="cloud" id ="2" x="-375" y = "450" />
		
		<obj type="cloud" id ="1" x="0" y = "525" scale= "2" /> 

		<obj type="cloud" id ="3" x="-200" y = "700" scale= "1" />
		
		<obj type="cloud" id ="2" x="200" y = "725" scale= "1.25" />
		
	
		
		<obj type="point"  x="-200" y = "850"/>
		
		<obj type="point"  x="-200" y = "900"/>
		
		<obj type="point"  x="-200" y = "950"/>
		
		<obj type="point"  x="-200" y = "1000"/>
		
		<obj type="point"  x="-200" y = "1050"/>
		
		<obj type="point"  x="-225" y = "1025"/>
		
		<obj type="point"  x="-175" y = "1025"/>
		
		<obj type="point"  x="-250" y = "1000"/>
		
		<obj type="point"  x="-150" y = "1000"/>
		
		
		

		<obj type="cloud" id ="3" x="-123" y = "1100" scale= "1.25" />
		
		<obj type="cloud" id ="1" x="-200" y = "1300" scale= "1" />
	
		<obj type="bird" id ="2"  y = "1350"/>
		
		<obj type="cloud" id ="3" x="250" y = "1400" scale= "1.5" />

		<obj type="cloud" id ="1" x="-100" y = "1600" scale= "1" />
		
		<obj type="cloud" id ="3" x="125" y = "1700" scale= "1" />

		<obj type="cloud" id ="2" x="-300" y = "1800" scale= "1" />
		
		<obj type="cloud" id ="1" x="300" y = "1900" />
		
		<obj type="point"  x="150" y = "1900"/>
		
		<obj type="point"  x="100" y = "1950"/>
		
		<obj type="point"  x="150" y = "1950"/>
		
		<obj type="point"  x="200" y = "1950"/>
		
		<obj type="point"  x="150" y = "2000"/>
		
		
		
		
		<obj type="bird" id ="1"  y = "2000"/>
				
		<obj type="cloud" id ="3" x="-75" y = "2000" scale= "1" />
		
		<obj type="cloud" id ="1" x="-400" y = "2060" scale= "1.25" />	
		
		<obj type="cloud" id ="1" x="350" y = "2120" scale= "1" />
		
		<obj type="cloud" id ="1" x="30" y = "2300" scale= "1" xMove ="400" speed="50" />
		
			
		
		<obj type="point"  x="-50" y = "2350" />
		
		<obj type="point"  x="-50" y = "2300" />
		
		<obj type="point"  x="-50" y = "2250" />
		
		<obj type="point"  x="-50" y = "2200" />
		
		<obj type="point"  x="-50" y = "2400" />
		
		<obj type="point"  x="-25" y = "2375" />
		
		<obj type="point"  x="-75" y = "2375" />
		
		<obj type="point"  x="0" y = "2350" />
		
		<obj type="point"  x="-100" y = "2350" />
		
		
		
		<obj type="cloud" id ="3" x="-100" y = "2500" scale= "1.25" xMove ="200" speed="50" />	
		
		<obj type="cloud" id ="2" x="300" y = "2600" scale= "1" />	
		
		<obj type="cloud" id ="1" x="-200" y = "2700" scale= "1.25" />		
		
		<obj type="baloon"  x="0" y = "2750" boost="2" scale = "1.25" />
		
		<obj type="cloud" id ="3" x="150" y = "2800" scale= "1" />
		
		
		
		<obj type="cloud" id ="2" x="-300" y = "3020" scale= "1" />
		
		<obj type="bird" id ="1"  y = "3160"/>
				
		<obj type="cloud" id ="3" x="175" y = "3250" scale= "1.25" />
				
		<obj type="cloud" id ="2" x="-300" y = "3475" scale= "1" yMove ="100" speed="100" />	
		
		<obj type="cloud" id ="1" x="0" y = "3600" scale= "1" xMove ="200" speed="100" />
		
		<obj type="bird" id ="2"  y = "3800"/>	
		
		<obj type="cloud" id ="3" x="250" y = "3860" scale= "1.25" />		
		
		
		
		<obj type="point"  x="200" y = "3800"/>
		
		<obj type="point"  x="200" y = "3850"/>
		
		<obj type="point"  x="200" y = "3900"/>
		
		<obj type="point"  x="200" y = "3950"/>
		
		<obj type="point"  x="200" y = "4000"/>
		
		<obj type="point"  x="175" y = "3975"/>
		
		<obj type="point"  x="225" y = "3975"/>
		
		<obj type="point"  x="250" y = "3950"/>
		
		<obj type="point"  x="150" y = "3950"/>
		
	
		
		<obj type="cloud" id ="1" x="-300" y = "4020" scale= "1" />
		
		<obj type="cloud" id ="3" x="75" y = "4100" scale= "1" />
		
		<obj type="cloud" id ="2" x="-200" y = "4250" scale= "1.25" xMove ="300" speed="50" />
		
		<obj type="cloud" id ="3" x="200" y = "4300" scale= "1.25" />
		
		<obj type="point"  x="-350" y = "4400"/>
		
		<obj type="cloud" id ="1" x="0" y = "4500" scale= "1" xMove ="300" speed="100" />

		<obj type="cloud" id ="2" x="350" y = "4700" scale= "1.25" />
		
		<obj type="baloon"  x="-200" y = "4750" boost="2" scale = "1.25" yMove ="200" speed="50" />
		
		<obj type="bird" id ="2"  y = "4800"/>
		
		
			
		<obj type="cloud" id ="1" x="-300" y = "5000" scale= "1" xMove ="100" speed="50" />
		
		<obj type="cloud" id ="3" x="175" y = "5300" />
			
		<obj type="cloud" id ="2" x="-150" y = "5560" scale= "1" />
		
		
		
		<obj type="point"  x="-200" y = "5450"/>
		
		<obj type="point"  x="-200" y = "5500"/>
		
		<obj type="point"  x="-200" y = "5550"/>
		
		<obj type="point"  x="-200" y = "5600"/>
		
		<obj type="point"  x="-200" y = "5650"/>
		
		<obj type="point"  x="-225" y = "5625"/>
		
		<obj type="point"  x="-175" y = "5625"/>
		
		<obj type="point"  x="-250" y = "5600"/>
		
		<obj type="point"  x="-150" y = "5600"/>
		
		
		
		<obj type="cloud" id ="1" x="150" y = "5750" scale= "1.25" yMove ="250" speed="100" />
				
		<obj type="cloud" id ="3" x="-300" y = "5800" scale= "1" yMove ="300" speed="100" />
		
		<obj type="baloon"  x="25" y = "5850" boost="2" yMove ="200" speed="75" />
		
		<obj type="bird" id ="1"  y = "5900"/>
		
		
		
		<obj type="cloud" id ="3" x="250" y = "6000" scale= "1" />
				
		<obj type="cloud" id ="1" x="0" y = "6280" scale= "1" xMove ="300" speed="100" />
		
		<obj type="bird" id ="2"  y = "6300"/>
		
		<obj type="point"  x="-350" y = "6400"/>
		
		<obj type="cloud" id ="2" x="-200" y = "6400" scale= "1.25" xMove ="200" speed="100" />
		
		<obj type="cloud" id ="3" x="300" y = "6600" scale= "1" xMove ="100" speed="50" />
		
		<obj type="cloud" id ="2" x="-250" y = "6850" scale= "1" />
		
		<obj type="bird" id ="1"  y = "6900"/>
		
		
		
		<obj type="cloud" id ="3" x="0" y = "7000" />
		
		
		
		<obj type="point"  x="125" y = "7100"/>
		
		<obj type="point"  x="75" y = "7100"/>
		
		<obj type="point"  x="100" y = "7100"/>
		
		<obj type="point"  x="100" y = "7125"/>
		
		<obj type="point"  x="100" y = "7075"/>
		
		
		
		
		<obj type="cloud" id ="2" x="200" y = "7200" yMove ="300" speed="100" />
		
		<obj type="cloud" id ="2" x="-100" y = "7400" xMove ="200" speed="100" />
			
		<obj type="cloud" id ="3" x="375" y = "7550" />
		
		<obj type="cloud" id ="1" x="-200" y = "7650" xMove ="200" speed="100" />
				
		<obj type="cloud" id ="2" x="0" y = "7850" />
		
		<obj type="bird" id ="1"  y = "7950"/>
		
		
		
		<obj type="cloud" id ="3" x="200" y = "8000" scale= "1" />		
		
		<obj type="point"  x="0" y = "8150"/>
		
		<obj type="cloud" id ="1" x="-350" y = "8300" scale= "1" yMove ="200" speed="150" />
		
		<obj type="bird" id ="2"  y = "8450"/>		
		
		<obj type="cloud" id ="1" x="0" y = "8500" scale= "1" xMove ="300" speed="100" />

		<obj type="cloud" id ="3" x="300" y = "8600" scale= "1" />
		
		<obj type="cloud" id ="1" x="-200" y = "8800" />
		
		
		
		<obj type="cloud" id ="2" x="150" y = "9000" />
		
		<obj type="point"  x="-50" y = "9100"/>
		
		<obj type="baloon"  x="300" y = "9200" boost="2" yMove ="100" speed="100" />
		
		<obj type="cloud" id ="3" x="-250" y = "9200" yMove ="200" speed="100" />
		
		<obj type="bird" id ="1"  y = "9300"/>
		
		<obj type="cloud" id ="2" x="75" y = "9400" />
		
		<obj type="cloud" id ="3" x="200" y = "9600" xMove ="100" speed="100" />
		
		<obj type="cloud" id ="1" x="-350" y = "9800" />
		
		
		
		<obj type="point"  x="-100" y = "9700"/>
		
		<obj type="point"  x="-100" y = "9750"/>
		
		<obj type="point"  x="-100" y = "9800"/>
		
		<obj type="point"  x="-100" y = "9850"/>
		
		<obj type="point"  x="-100" y = "9900"/>
		
		<obj type="point"  x="-125" y = "9875"/>
		
		<obj type="point"  x="-75" y = "9875"/>
		
		<obj type="point"  x="-150" y = "9850"/>
		
		<obj type="point"  x="-50" y = "9850"/>
		
		
		
		<obj type="cloud" id ="3" x="0" y = "10000" />
		
		<obj type="cloud" id ="2" x="150" y = "10200" yMove ="100" speed="100" />
		
		<obj type="cloud" id ="1" x="-300" y = "10400" />
		
		<obj type="cloud" id ="3" x="30" y = "10600" xMove ="150" speed="100" />
		
		<obj type="cloud" id ="1" x="200" y = "10800" />
		
		<obj type="bird" id ="2"  y = "10900"/>
		
		
		
		<obj type="cloud" id ="2" x="-200" y = "11000" />
		
		<obj type="point"  x="100" y = "11100"/>
		
		<obj type="cloud" id ="3" x="0" y = "11200" yMove ="200" speed="150" />
		
		<obj type="cloud" id ="1" x="-300" y = "11400" />
		
		<obj type="cloud" id ="3" x="-30" y = "11600" xMove ="250" speed="100" />
		
		<obj type="baloon"  x="250" y = "11725" boost="1.5" />
		
		<obj type="cloud" id ="2" x="-250" y = "11850" />
		
		<obj type="bird" id ="1"  y = "11950"/>
		
		
		
		<obj type="cloud" id ="1" x="200" y = "12000" yMove ="300" speed="100" />
		
		<obj type="point"  x="100" y = "12150"/>
		
		<obj type="cloud" id ="2" x="50" y = "12300" xMove ="200" speed="100" />
		
		<obj type="cloud" id ="1" x="0" y = "12450" scale = "0.75" />
		
		<obj type="cloud" id ="2" x="200" y = "12525" xMove ="350" speed="100" />
		
		<obj type="cloud" id ="1" x="-250" y = "12700" yMove ="400" speed="200" />
		
		<obj type="cloud" id ="1" x="150" y = "12800" />
		
		<obj type="point"  x="0" y = "12900"/>
		
		<obj type="bird" id ="2"  y = "12950"/>
		
		
		
		<obj type="baloon"  x="-200" y = "13000" boost="1.5" yMove ="200" speed = "200" />
		
		<obj type="cloud" id ="1" x="0" y = "13200" xMove ="800" speed="150" />
		
		<obj type="cloud" id ="3" x="30" y = "13500" yMove ="200" speed="200" />
		
		<obj type="cloud" id ="1" x="200" y = "13700" xMove ="400" speed="150" />
		
		<obj type="cloud" id ="1" x="-200" y = "13850" xMove ="400" speed="200" />
		
		
		
		<obj type="cloud" id ="2" x="-250" y = "14000" yMove ="300" speed="200" />
		
		<obj type="point"  x="-100" y = "14100"/>
		
		<obj type="cloud" id ="3" x="0" y = "14200" xMove ="800" speed="150" />
		
		<obj type="bird" id ="1"  y = "14350"/>
		
		<obj type="cloud" id ="1" x="-250" y = "14500" scale = "1.25" yMove ="200" speed="200" />
		
		<obj type="baloon"  x="300" y = "14600" boost="1.5" yMove ="200" speed="200" />
		
		<obj type="cloud" id ="2" x="75" y = "14700" xMove ="800" speed="150" />
		
		<obj type="point"  x="-150" y = "14850"/>
		
		
		
		<obj type="cloud" id ="1" x="-300" y = "15000" yMove ="250" speed="150" />
		
		<obj type="bird" id ="2"  y = "15050"/>
		
		<obj type="cloud" id ="3" x="200" y = "15100" xMove ="400" speed="150" />
		
		<obj type="cloud" id ="1" x="150" y = "15300" yMove ="200" speed="200" />
		
		<obj type="cloud" id ="2" x="-200" y = "15500" xMove ="200" speed="150" />
		
		<obj type="cloud" id ="1" x="-50" y = "15700" yMove ="150" speed="200" />
		
		<obj type="bird" id ="1" y = "15750"/>
		
		<obj type="baloon"  x="250" y = "15775" boost="1.5" yMove ="300" speed="150" />
		
		<obj type="cloud" id = "3" x="0" y = "15900" xMove ="400" speed="150" />
		
		
		
		<obj type="point"  x="-25" y = "15650"/>
		
		<obj type="point"  x="-25" y = "15700"/>
		
		<obj type="point"  x="-25" y = "15750"/>
		
		<obj type="point"  x="-25" y = "15800"/>
		
		<obj type="point"  x="-25" y = "15850"/>
		
		<obj type="point"  x="-50" y = "15825"/>
		
		<obj type="point"  x="0" y = "15825"/>
		
		<obj type="point"  x="25" y = "15800"/>
		
		<obj type="point"  x="-75" y = "15800"/>
		
		
		
		<obj type="cloud" id ="2" x="0" y = "16000" xMove ="200" speed="150" />
		
		<obj type="cloud" id ="1" x="200" y = "16200" yMove ="100" speed="200" />
		
		<obj type="cloud" id ="3" x="0" y = "16400" xMove ="400" speed="150" />
		
		<obj type="cloud" id ="2" x="-200" y = "16700" yMove ="300" speed="200" />
		
		
		
		<obj type="cloud" id ="1" x="200" y = "17000" xMove ="400" speed="150" />
		
		<obj type="bird" id ="2"  y = "17050"/>
		
		<obj type="point"  x="15" y = "17100"/>
		
		<obj type="cloud" id ="2" x="-25" y = "17200" yMove ="300" speed="200" />
		
		<obj type="cloud" id ="3" x="300" y = "17400" yMove ="150" speed="200" />
		
		<obj type="point"  x="-100" y = "17550"/>
		
		<obj type="cloud" id ="3" x="-300" y = "17600" yMove ="250" speed="200" />
		
		<obj type="bird" id ="1"  y = "17700"/>
		
		<obj type="cloud" id ="1" x="175" y = "17800" yMove ="300" speed="200" />
		
		
		
		<obj type="cloud" id ="2" x="0" y = "18000" xMove ="400" speed="200" />
		
		<obj type="cloud" id ="3" x="-150" y = "18200" yMove ="200" speed="200" />
		
		<obj type="cloud" id ="1" x="350" y = "18400" yMove ="150" speed="200" />
		
		<obj type="cloud" id ="2" x="-275" y = "18600" xMove ="-175" speed="200" />
		
		<obj type="baloon"  x="275" y = "18700" boost="1.25" yMove = "200" speed = "200" />
		
		<obj type="cloud" id ="3" x="25" y = "18800" xMove ="300" speed="200" />
		
		<obj type="bird" id ="2"  y = "18900"/>
		
		
		
		<obj type="cloud" id ="2" x="200" y = "19000" yMove ="300" speed="200" />
		
		<obj type="cloud" id ="1" x="-250" y = "19200" xMove ="200" speed="200" />
		
		
		
		
		<obj type="baloon"  x="-300" y = "19300" boost="1" />
		
		<obj type="baloon"  x="-200" y = "19300" boost="1" />
		
		<obj type="baloon"  x="-100" y = "19300" boost="1" />
	
		<obj type="baloon"  x="0" y = "19300" boost="1" />
		
		<obj type="baloon"  x="100" y = "19300" boost="1" />
		
		<obj type="baloon"  x="200" y = "19300" boost="1" />
		
		<obj type="baloon"  x="300" y = "19300" boost="1" />
		
		
		
		
		<obj type="point"  x="0" y = "20000"/>
		
		<obj type="point"  x="-25" y = "19975"/>
		
		<obj type="point"  x="25" y = "19975"/>
		
		<obj type="point"  x="-50" y = "19950"/>
		
		<obj type="point"  x="50" y = "19950"/>
		
		<obj type="point"  x="-75" y = "19925"/>
		
		<obj type="point"  x="75" y = "19925"/>
		
		<obj type="point"  x="-100" y = "19900"/>
		
		<obj type="point"  x="100" y = "19900"/>
		
		<obj type="point"  x="-125" y = "19875"/>
		
		<obj type="point"  x="125" y = "19875"/>
		
		<obj type="point"  x="-150" y = "19850"/>
		
		<obj type="point"  x="150" y = "19850"/>
		
		<obj type="point"  x="-175" y = "19825"/>
		
		<obj type="point"  x="175" y = "19825"/>
		
		<obj type="point"  x="-200" y = "19800"/>
		
		<obj type="point"  x="200" y = "19800"/>
		
		<obj type="point"  x="-225" y = "19800"/>
		
		<obj type="point"  x="225" y = "19800"/>
		
		<obj type="point"  x="-250" y = "19800"/>
		
		<obj type="point"  x="250" y = "19800"/>
		
		<obj type="point"  x="-275" y = "19800"/>
		
		<obj type="point"  x="275" y = "19800"/>
		
		<obj type="point"  x="-300" y = "19800"/>
		
		<obj type="point"  x="300" y = "19800"/>
		
		<obj type="point"  x="-325" y = "19800"/>
		
		<obj type="point"  x="325" y = "19800"/>
		
		<obj type="point"  x="-350" y = "19800"/>
		
		<obj type="point"  x="350" y = "19800"/>
		
		<obj type="point"  x="-375" y = "19800"/>
		
		<obj type="point"  x="375" y = "19800"/>
		
		<obj type="point"  x="-400" y = "19800"/>
		
		<obj type="point"  x="400" y = "19800"/>
		
		
		
		<obj type="point"  x="-375" y = "19775"/>
		
		<obj type="point"  x="375" y = "19775"/>
		
		<obj type="point"  x="-350" y = "19750"/>
		
		<obj type="point"  x="350" y = "19750"/>
		
		<obj type="point"  x="-325" y = "19725"/>
		
		<obj type="point"  x="325" y = "19725"/>
		
		<obj type="point"  x="-300" y = "19700"/>
		
		<obj type="point"  x="300" y = "19700"/>
		
		<obj type="point"  x="-275" y = "19675"/>
		
		<obj type="point"  x="275" y = "19675"/>
		
		<obj type="point"  x="-250" y = "19650"/>
		
		<obj type="point"  x="250" y = "19650"/>
		
		<obj type="point"  x="-225" y = "19625"/>
		
		<obj type="point"  x="225" y = "19625"/>
		
		<obj type="point"  x="-200" y = "19600"/>
		
		<obj type="point"  x="200" y = "19600"/>
		
		
		
		
		<obj type="point"  x="-225" y = "19575"/>
		
		<obj type="point"  x="225" y = "19575"/>
		
		<obj type="point"  x="-250" y = "19550"/>
		
		<obj type="point"  x="250" y = "19550"/>
		
		<obj type="point"  x="-275" y = "19525"/>
		
		<obj type="point"  x="275" y = "19525"/>
		
		<obj type="point"  x="-300" y = "19500"/>
		
		<obj type="point"  x="300" y = "19500"/>
		
		<obj type="point"  x="-325" y = "19475"/>
		
		<obj type="point"  x="325" y = "19475"/>
		
		<obj type="point"  x="-350" y = "19450"/>
		
		<obj type="point"  x="350" y = "19450"/>
		
		<obj type="point"  x="-375" y = "19425"/>
		
		<obj type="point"  x="375" y = "19425"/>
		
		<obj type="point"  x="-400" y = "19400"/>
		
		<obj type="point"  x="400" y = "19400"/>
		
		
		

		<obj type="point"  x="0" y = "19500"/>
		
		<obj type="point"  x="-40" y = "19490"/>
		
		<obj type="point"  x="40" y = "19490"/>
		
		<obj type="point"  x="-80" y = "19480"/>
		
		<obj type="point"  x="80" y = "19480"/>
		
		<obj type="point"  x="-120" y = "19470"/>
		
		<obj type="point"  x="120" y = "19470"/>
		
		<obj type="point"  x="-160" y = "19460"/>
		
		<obj type="point"  x="160" y = "19460"/>
		
		<obj type="point"  x="-200" y = "19450"/>
		
		<obj type="point"  x="200" y = "19450"/>
		
		<obj type="point"  x="-240" y = "19440"/>
		
		<obj type="point"  x="240" y = "19440"/>
		
		<obj type="point"  x="-280" y = "19430"/>
		
		<obj type="point"  x="280" y = "19430"/>
		
		<obj type="point"  x="-320" y = "19420"/>
		
		<obj type="point"  x="320" y = "19420"/>
		
		<obj type="point"  x="-360" y = "19410"/>
		
		<obj type="point"  x="360" y = "19410"/>
		
		<obj type="point"  x="-400" y = "19400"/>
		
		<obj type="point"  x="400" y = "19400"/>

		
		
	</skyObjects>
</miniGameConfig>